*{
    box-sizing: border-box;
 
}

body{
font-family: Arial, Helvetica, sans-serif;
 }

header{
    background-color: rgb(21, 135, 173);
    display: flex;
    
   
}

.present{
   
    margin-left: 10rem;
    border: 3px solid rgb(255, 253, 253);
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    margin: 20px;
    
}

h1{
    font-size: 40px;
}

h2{
    color: rgba(177, 175, 171, 0.82);

}

img{
    border-radius: 5rem;
    margin-left: 3rem;
    padding: 20px;
}

.present p {
    color:rgb(21, 135, 173);
    font-size: 20px;
    
}

/*///////////Profil////////////*/


h3{
    border: 2px solid rgb(75, 74, 74);
    text-align: center;
    width: 200px;
}


